<div class="container">
  <!-- Header -->
  <div class="page-header title col-md-12">
    <div class="col-md-6">
      <h2>
        Smart-P
        <small>Tối ưu danh mục đầu tư</small>
      </h2>
    </div>

    <!-- Login -->
    <div class="col-md-6 login-form">
      <div class="form-group">
        <div class="col-md-4">
          <input id="inputAccount" class="form-control" placeholder="Tài khoản" required="" autofocus="" ng-model="username">
        </div>

        <div class="col-md-4">
          <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" required="" autofocus="" ng-model="password">
        </div>

        <div class="col-md-3">
          <button type="button" class="btn btn-add" ng-click="retrieve_account(username, password)">
            Đăng nhập
          </button>
        </div>
      </div>
    </div>

  </div>

  <!-- Portfolio details -->
  <div class="col-md-6">
    <h3>Danh mục của bạn</h3>

    <select class="form-control" ng-model="selectedP" ng-options="p.id as p.name for p in portfolio_list"></select>
<!--     <select class="form-control">
      <option value="one"><h3>Danh mục ảo 1</h3></option>
      <option value="two"><h3>Danh mục ảo 2</h3></option>
    </select>
 -->

    <!-- Money status  -->
    <div class="money">
      <div class="money-title col-md-6">Số tiền đang có:</div>
      <div class="money-status col-md-6">13,000,000đ</div>
    </div>
    <!-- Table symbols -->
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Mã chứng khoán</th>
          <th>Khối lượng</th>
          <th>Tỷ trọng</th>
          <th>{{love}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in portfolio.data">
          <td>{{$index}}</td>
          <td>{{row.symbol}}</td>
          <td>{{row.quantity}}</td>
          <td>{{row.percent}}</td>
          <td>
            <a href="" ng-click="remove_symbol($index)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="portfolio-input">
      <div class="description col-md-6">
        Nhập danh mục
      </div>
      <div class="toggle col-md-6">
        <span>Chế độ mua thử CK</span>
        <label class="switch">
          <input type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <input ng-model="pending_symbol" id="inputSymbol" class="form-control" placeholder="Mã Chứng khoán" required="" autofocus="">
        </div>

        <div class="col-md-4">
          <input type="number" ng-model="pending_quantity" id="inputQuantity" class="form-control" placeholder="Khối lượng" required="" autofocus="">
        </div>

        <div class="col-md-4">
          <button type="button" class="btn btn-add" ng-click="add_symbol(pending_symbol, pending_quantity)">
            Thêm mã CK
          </button>
        </div>
      </div>
    </div>

    <div class="portfolio-input">
      <div class="description">
        Nhập số tiền bạn muốn có
      </div>
      <div class="form-group">
        <div class="col-md-8">
          <input id="inputMoney" class="form-control" placeholder="Tiền mặt" required="" autofocus="">
        </div>

        <div class="col-md-4">
          <button type="button" class="btn btn-add" ng-click="reset()">
            Thêm tiền mặt
          </button>
        </div>
      </div>
    </div>

  </div>

<!-- RATIOS -->
  <div class="col-md-6">
    <h3 class="title-ratio">Kết quả</h3>

    <div class="col-md-12 underline">
      <div class="stat col-md-6">
        <div class="stat-name">
          Lợi nhuận kì vọng <small>(Expected return)</small>
        </div>

        <div class="stat-number">
          {{indicator.expectedReturn * 100 | number:2}}%
        </div>
      </div>
    </div>

    <div class="col-md-12 underline">
      <div class="stat col-md-6">
        <div class="stat-name">
          Rủi ro danh mục <small>(Beta)</small>
        </div>

        <div class="stat-number">
          {{indicator.beta | number:3}}
        </div>
      </div>
    </div>

    <div class="col-md-12 underline">
      <div class="stat col-md-6">
        <div class="stat-name">
          Giá trị chịu rủi ro <small>(Value at risk)</small>
        </div>

        <div class="stat-number">
          {{indicator.valueAtRisk | number:0}} đ
        </div>
      </div>
    </div>

    <div class="col-md-12 underline">
      <div class="stat col-md-6">
        <div class="stat-name">
          Khoản lỗ lớn nhất <small>(Max drawdown)</small>
        </div>

        <div class="stat-number">
          {{indicator.maxDrawDown | number:0}} đ
        </div>
      </div>
    </div>

    <div class="portfolio-stat col-md-12">

    </div>
  </div>
