<div class="container smartP">
<!-- HEADER -->
  <div class="page-header title col-md-12">
    <div class="col-md-6">
      <h2>
        Smart-P
        <small>Tối ưu danh mục đầu tư</small>
      </h2>
    </div>

    <!-- Login -->
    <div class="col-md-6 login-form">

      <!-- Asking for username & password-->
      <div class="form-group" ng-show="!is_logged_in">
        <div class="col-md-4">
          <input id="inputAccount" class="form-control" placeholder="Tài khoản" required="" autofocus="" ng-model="username">
        </div>

        <div class="col-md-4" >
          <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" required="" autofocus="" ng-model="password">
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-add btn-login" ng-click="retrieve_account(username, password)">
            Đăng nhập <i class="fa fa-sign-in"></i>
          </button>
        </div>
      </div>

      <!-- Display name when logged in -->
      <div ng-show="is_logged_in">
        <div class="user-detail">
          Xin chào, {{full_name}}
          <a href=""><i class="fa fa-sign-out" ng-click="logout()"></i></a>
        </div>
        <!-- <div class="col-md-3">
          <button type="button" class="btn btn-add" ng-click="logout()">
            Đăng xuất
          </button>
        </div> -->
      </div>

    </div>

  </div>

<!-- PORTFOLIO DETAILS -->
  <div class="col-md-6">
    <h3>Danh mục đầu tư</h3>
    <select class="form-control" ng-model="selectedP" ng-options="p.id as p.name for p in portfolio_list"></select>

    <!-- Money status  -->
    <div class="money">
      <div class="money-title col-md-6">Tiền mặt:</div>
      <div class="col-md-2"></div>
      <div class="money-status col-md-4">
        <input id="inputMoney" class="form-control" placeholder="Nhập số tiền" required="" autofocus="" ng-model="cash" format="number">
      </div>
    </div>
    <!-- Table portfolio -->
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Mã chứng khoán</th>
          <th>Khối lượng</th>
          <th>Tỷ trọng</th>
          <th>Tỷ trọng tối ưu</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in portfolio.data">
          <td>{{$index+1}}</td>
          <td>{{row.symbol}}</td>
          <td>{{row.quantity | number}} <span ng-show="is_simulated" class="simulation-mode">{{row.change | virtual_change}}</span></td>
          <td></td>
          <td>{{row.percent}}</td>
          <td>
            <a href="" ng-click="remove_symbol($index)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Input portfolio -->
    <div class="portfolio-input col-md-12" ng-show="!is_simulated" id="portfolio-input">
      <div class="description" id="input-description">
        Nhập các mã CK trong danh mục của bạn:
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <input ng-model="pending_symbol" id="inputSymbol" class="form-control" placeholder="Mã Chứng khoán" required="" autofocus="">
        </div>

        <div class="col-md-4">
          <input type="number" ng-model="pending_quantity" id="inputQuantity" class="form-control" placeholder="Khối lượng" required="" autofocus="">
        </div>

        <div class="col-md-4">
          <button type="button" class="btn btn-add add-symbol" ng-click="add_symbol()">
            Thêm mã CK
          </button>
        </div>
      </div>
    </div>

    <!-- Similation view -->
    <div class="portfolio-input col-md-12" ng-show="is_simulated" id="simulation-mode">
      <div class="description" id="input-description">
        Thử mua/bán mã CK:
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <input id="inputSymbol" class="form-control" placeholder="Mã Chứng khoán" required="" autofocus="" ng-model="virtual_symbol">
        </div>

        <div class="col-md-4">
          <input type="number" id="inputQuantity" class="form-control" placeholder="Khối lượng" required="" autofocus="" ng-model="virtual_quantity">
        </div>

        <div class="col-md-2" id="my-button-buy">
          <button type="button" class="btn btn-add btn-buy" ng-click="buy_virtual_symbol()">
            Mua
          </button>
        </div>

        <div class="col-md-2" id="my-button-sell">
          <button type="button" class="btn btn-add btn-sell" ng-click="sell_virtual_symbol()">
            Bán
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="money-input">
      <div class="description">
        Nhập số tiền của bạn:
      </div>
      <div class="form-group">
        <div class="col-md-8">
          <input id="inputMoney" class="form-control" placeholder="Tiền mặt" required="" autofocus="">
        </div>

        <div class="col-md-4">
          <button type="button" class="btn btn-add add-money" ng-click="reset()">
            Thêm tiền mặt
          </button>
        </div>
      </div>
    </div> -->

    <!-- Reset porfolio -->
    <div class="col-md-4">
      <!-- <button type="button" class="btn reset-portfolio">Xóa Danh mục</button> -->
      <button type="button" class="btn optimal-portfolio">
        Tối ưu danh mục
      </button>
    </div>

    <div class="col-md-8">
      <div class="toggle switch-button">
        Chuyển sang mua/bán thử Chứng khoán
        <label class="switch">
          <input type="checkbox" ng-model="is_simulated">
          <div class="slider round"></div>
        </label>
      </div>
    </div>
  </div>

<!-- RATIOS -->
  <div class="col-md-6">
    <h3 class="title-ratio">
      Kết quả
      <i class="fa fa-spinner fa-spin fa-fw" ng-show="is_loading"></i>
    </h3>
    <!-- Expected Return and Beta -->
    <div class="col-md-12 underline">
      <div class="stat col-md-6" id="stat-no-chart">
        <gauge-chart height="options.height" value="indicator.expectedReturn" options="gauge_options_expectedReturn"></gauge-chart>

        <div class="stat-name">
          Lợi nhuận kì vọng <br>
          <!-- <small>(Expected return)</small> -->
        </div>

        <div class="stat-number">
          {{indicator.expectedReturn * 100 | number:2}}%
          <div class="simulate-indicator" ng-show="is_simulated">{{sim_indicator.expectedReturn * 100 | number:2 | virtual_change}}%</div>
        </div>

        <div id="description">
          <div ng-show="!is_simulated">
            <i class="fa fa-info-circle"></i>
            Lợi nhuận một năm gần nhất của cơ cấu danh mục này là {{indicator.expectedReturn * 100 | number:2}}%.
          </div>
          <div ng-show="is_simulated">
            <i class="fa fa-info-circle"></i>
            Lợi nhuận một năm gần nhất của cơ cấu danh mục này là {{indicator.expectedReturn * 100 + sim_indicator.expectedReturn * 100 | number:2}}%.
          </div>
        </div>
      </div>

      <div class="stat col-md-6" id="stat-no-chart">
        <gauge-chart height="options.height" value="indicator.beta" options="gauge_options_beta"></gauge-chart>
        <div class="center-indicator">
          <div class="stat-name">
            Rủi ro danh mục <br>
            <!-- <small>(Beta)</small> -->
          </div>

        <div class="stat-number">
          {{indicator.beta | number:3}}
          <div class="simulate-indicator" ng-show="is_simulated">{{sim_indicator.beta | number:3 | virtual_change}}</div>
          <div id="description">
            <div ng-show="!is_simulated">
              <i class="fa fa-info-circle"></i>
              Danh mục của bạn biến động {{indicator.beta * 100 | number:1}}% so với thị trường.
            </div>
            <div ng-show="is_simulated">
              <i class="fa fa-info-circle"></i>
              Danh mục của bạn biến động {{indicator.beta * 100 + sim_indicator.beta * 100 | number:1}}% so với thị trường.
            </div>

          </div>
        </div>

      </div>
      </div>
    </div>

    <!-- Value at risk and Max Drawdown -->
    <div class="col-md-12 underline">
      <div class="stat col-md-6" id="stat-no-chart">
        <div class="stat-name">
          Giá trị chịu rủi ro <br>
          <!-- <small>(Value at risk)</small> -->
        </div>

        <div class="stat-number">
          {{indicator.valueAtRisk * 1000 | number:0}}đ
          <div class="simulate-indicator" ng-show="is_simulated">{{sim_indicator.valueAtRisk * 1000 | number:0 | virtual_change}}đ</div>
        </div>

        <div id="description">
          <div ng-show="!is_simulated">
            <i class="fa fa-info-circle"></i>
            Danh mục của bạn có khả năng lỗ {{indicator.valueAtRisk * 1000 | number:0}}đ trong một phiên giao dịch.
          </div>
          <div ng-show="is_simulated">
            <i class="fa fa-info-circle"></i>
            Danh mục của bạn có 5% khả năng lỗ lớn hơn {{indicator.valueAtRisk * 1000 + sim_indicator.valueAtRisk * 1000 | number:0}}đ trong một phiên giao dịch.
          </div>
        </div>
      </div>

      <div class="stat col-md-6" id="stat-no-chart">
        <div class="stat-name">
          Khoản lỗ lớn nhất <br>
          <!-- <small>(Max drawdown)</small> -->
        </div>

        <div class="stat-number">
          {{indicator.maxDrawDown * 1000 | number:0}}đ
          <div class="simulate-indicator" ng-show="is_simulated">{{sim_indicator.maxDrawDown * 1000 | number:0 | virtual_change}}đ</div>
        </div>

        <div id="description">
          <div ng-show="!is_simulated">
            <i class="fa fa-info-circle"></i>
            Danh mục của bạn có khả năng lỗ tối đa {{indicator.maxDrawDown * 1000 | number:0}}đ trong một năm.
          </div>
          <div ng-show="is_simulated">
            <i class="fa fa-info-circle"></i>
            Danh mục của bạn có khả năng lỗ tối đa {{indicator.maxDrawDown * 1000 + sim_indicator.maxDrawDown * 1000 | number:0}}đ trong một năm.
          </div>

        </div>
      </div>
    </div>
