html body {
  background-color: #FCFCFF;
}

/* Page header */
.page-header.title {
  margin: 10px 0 10px;
}

/* centered columns styles */
.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;

  /* reset the text-align */
  text-align: left;

  /* inline-block space fix */
  margin-right: -4px;
}

/* Portfolio Statistics */
.stat {
  text-align: center;
}
.stat-name {
  font-size: 18px;
  color: #707070;
}
.stat-number {
  font-size: 30px;
}
