html body {
  background-color: #FCFCFF;
}

.container.smartP {
  margin-bottom: 50px;
}

.divider {
  border-bottom: solid thin #eeeeee;
  padding-left: 0;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

/* Page header */
.page-header.title {
  margin: 10px 0 10px;
  padding-left: 0;
}

/* Login form */
.col-md-6.login-form {
  padding-top: 20px;
}

.user-detail {
  text-align: right;
  margin-top: 10px;
  font-size: 16px;
}

.user-detail i {
  color: #B5B6B8;
}

.btn.btn-add.btn-login {
  background-color: #FF8C31;
  color: #fff;
  font-weight: bold;
}

/* Select account */
#select-account {
  color: #fff;
}

/* centered columns styles */
.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;

  /* reset the text-align */
  text-align: left;

  /* inline-block space fix */
  margin-right: -4px;
}

/* Switch button */
.toggle.switch-button {
  text-align: right;
  font-size: 14px;
  margin-top: 18px;
}

/* Portfolio details */
span.simulation-mode {
  font-size: 12px;
  font-weight: bold;
  color: #2E7D32;
}

.portfolio-input.col-md-12 {
  padding: 10px 0;
}

#input-description {
  padding-left: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

/*#portfolio-input {
  border: 1px solid #ECEFF1;
}*/

#simulation-mode {
  background-color: #FAFAFA;
  border: 1px solid #ECEFF1;
}

.btn.btn-add.add-symbol, .btn.btn-add.add-money  {
  width: 100%;
  background-color: #6BBF54;
  color: #fff;
  font-weight: bold;
}

.description.col-md-6 {
  padding-left: 0;
}

.money-input {
  margin-top: 20px;
}

.money {
  margin-top: 10px;
}

.money-title {
  text-align: left;
  font-size: 16px;
  margin-top: 5px;
}

.money-status {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.money-title.col-md-6, .money-status.col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

.money-input.description, .portfolio-input.description {
  margin-bottom: 10px;
}

.btn.btn-add.btn-buy {
  background-color: #6BBF54;
}

.btn.btn-add.btn-sell {
  background-color: #e53935;
}

.btn.btn-add.btn-sell, .btn.btn-add.btn-buy {
  color: #fff;
  font-weight: bold;
  width: 100%;
}

#my-button-buy.col-md-2 {
  padding-right: 8px;
}

#my-button-sell.col-md-2 {
  padding-left: 8px;
}

/* Switch view */
.btn.reset-portfolio {
  width: 100%;
  margin-top: 10px;
  background-color: #E0E0E0;
}
/* Ratios */
h3.title-ratio{
  /*padding-left: 15px;*/
}

.col-md-12.underline {
  border-bottom: solid thin #eeeeee;
  padding-left: 0;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.stat.col-md-6 {
  padding-left: 0;
}

.stat {
  text-align: left;
}

.stat-name {
  font-size: 16px;
}

.stat-number {
  font-size: 30px;
  font-weight: bold;
}

#description {
  color: #BDBDBD;
  font-size: 14px;
  font-weight: normal;
}

span.simulate-indicator {
  font-size: 18px;
}

#stat-no-chart {
  text-align: center;
}
#stat-no-chart small {
  color: #BDBDBD;
}
