html body {
  background-color: #FCFCFF;
}

/* Page header */
.page-header.title {
  margin: 10px 0 10px;
}

/* Login form */
.col-md-6.login-form {
  padding-top: 20px;
}

/* centered columns styles */
.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;

  /* reset the text-align */
  text-align: left;

  /* inline-block space fix */
  margin-right: -4px;
}
/* Portfolio details */
.portfolio-input {
  margin-bottom: 45px;
}

.btn.btn-add {
  width: 100%;
}

.description.col-md-6 {
  padding-left: 0;
}

.toggle.col-md-6 {
  text-align: right;
}

.money {
  margin-top: 10px;
}

.money-title {
  text-align: left;
  font-size: 16px;
}

.money-status {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.money-title.col-md-6, .money-status.col-md-6 {
  padding-left: 0;
  padding-right: 0;
}

/* Ratios */
h3.title-ratio{
  padding-left: 29px;
}

.stat {
  text-align: left;

}
.stat-name {
  font-size: 18px;
  color: #707070;
}
.stat-number {
  font-size: 30px;
}
