#power-gauge g.arc {
        fill: steelblue;
    }

#power-gauge g.pointer {
    fill: #F57F17;
    stroke: #F57F17;
}

#power-gauge g.label text {
    text-anchor: middle;
    font-size: 8px;
    font-weight: bold;
    fill: #666;
}
